body{
    margin:0;
    background-color: rgb(242, 244, 233);
}

/* --------------------GRID content  START ---------------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 93vw 6.9vw; 
    grid-template-rows: 5vw;    
    grid-gap: 0px;
    margin:0
}

.grid-container > .table-cont {
    /* span both columns on row 2 */
    grid-row:    2;        /* explicitly on second row */
    grid-column: 1 / -1;   /* start at col‑line 1, end at last col‑line */
}

/* --------------------TABLE content  START ---------------------------------------*/

.table-cont{
    font-family: 'Roboto Mono', monospace;
    margin: 0 1rem 0rem 1rem;
}

table{
    border-collapse: collapse;
}

th{
    border: 1px solid #000; 
    text-align: center;
}

td{
    border: 1px solid #000; 
    text-align: right;
    max-width: 10vw;
}

tfoot{
    border: 1px solid #000; 
    text-align: left;
}




